<svg width="1024" height="768" viewBox="0 0 476 300" xmlns="http://www.w3.org/2000/svg" class="board">
    <!-- Define the hexagon shape once -->
    <defs>
        <polygon id="hex-sword" points="0,25 50,0 100,25 100,75 50,100 0,75" style="fill: steelblue;"/>
        <polygon id="hex-sheep" points="0,25 50,0 100,25 100,75 50,100 0,75" style="fill: green;"/>
        <polygon id="hex-gold" points="0,25 50,0 100,25 100,75 50,100 0,75" style="fill: gold;"/>
        <polygon id="hex-wood" points="0,25 50,0 100,25 100,75 50,100 0,75" style="fill: saddlebrown;"/>
        <polygon id="hex-pineapple" points="0,25 50,0 100,25 100,75 50,100 0,75" style="fill: orange;"/>
        <circle id="circle-shape-2" r="8" transform="translate(12,-5)"/>
        <circle id="circle-shape-3" r="8" transform="translate(12,10)"/>
        <circle id="circle-shape-4" r="8" transform="translate(0,15)"/>
    </defs>

    <!-- Group to contain the hexagons for the landtiles -->
    <g id="land-tiles">
        <g id="hex-top" transform="translate(0, 0)">
            <use href="#hex-sword" transform="translate(0, 25)"/>
            <use href="#hex-sheep" transform="translate(125, 25)"/>
            <use href="#hex-wood" transform="translate(250, 25)"/>
        </g>
        <g id="hex-middle" transform="translate(63, 100)">
            <use href="#hex-pineapple" transform="translate(0, 25)"/>
            <use href="#hex-gold" transform="translate(125, 25)"/>
            <use href="#hex-pineapple" transform="translate(250, 25)"/>
        </g>
        <g id="hex-bottom" transform="translate(126, 200)">
            <use href="#hex-wood" transform="translate(0, 25)"/>
            <use href="#hex-sheep" transform="translate(125, 25)"/>
            <use href="#hex-sword" transform="translate(250, 25)"/>
        </g>
    </g>

    <!-- Group to contain the circles for the fort sites -->
    <g id="fort-sites">
        <g id="row1-circles">
            {% for id in ['2', '7'] %}
            <use href="#circle-shape-2" id="{{ id }}" fill="{{ fortSiteColors[id] }}"
                 transform="translate({{ 100 + (loop.index*125) }}, 50)"
                 {% if fortSiteColors[id]=='grey' %}
                 class="fortNotOccupied"
                 hx-post="game/buyFort/{{ id }}"
                 hx-swap="none"
                 {% endif -%}
            />
            {% endfor -%}
        </g>
        <g id="row2-circles">
            {% for id in ['1', '3', '5', '8', '11', '13'] %}
            <use href="#circle-shape-{{ loop.index % 2 == 0 ? 4 : 3}}" id="{{ id }}" fill="{{ fortSiteColors[id] }}"
                 transform="translate({{ 50 + (loop.index*50) + ((loop.index/2)*25) }}, {{ loop.index % 2 == 0 ? 125 : 100 }})"
                 {% if fortSiteColors[id]=='grey' %}
                 class="fortNotOccupied"
                 hx-post="game/buyFort/{{ id }}"
                 hx-swap="none"
                 {% endif -%}
            />
            {% endfor -%}
        </g>
        <g id="row3-circles" transform="translate(63, 100)">
            {% for id in ['4', '6', '9', '12', '14', '16'] %}
            <use href="#circle-shape-{{ loop.index % 2 == 0 ? 4 : 3}}" id="{{ id }}" fill="{{ fortSiteColors[id] }}"
                 transform="translate({{ 50 + (loop.index*50) + ((loop.index/2)*25) }}, {{ loop.index % 2 == 0 ? 125 : 100 }})"
                 {% if fortSiteColors[id]=='grey' %}
                 class="fortNotOccupied"
                 hx-post="game/buyFort/{{ id }}"
                 hx-swap="none"
                 {% endif -%}
            />
            {% endfor -%}
        </g>
        <g id="row4-circles" transform="translate(126, 200)">
            {% for id in ['10', '15'] %}
            <use href="#circle-shape-3" id="{{ id }}" fill="{{ fortSiteColors[id] }}"
                 transform="translate({{ 100 + (loop.index*125) }}, 100)"
                 {% if fortSiteColors[id]=='grey' %}
                 class="fortNotOccupied"
                 hx-post="game/buyFort/{{ id }}"
                 hx-swap="none"
                 {% endif -%}
            />
            {% endfor -%}
        </g>
    </g>
</svg>
