<div class="row">
    <div class="col-sm-3">
        {% include "templates/player1.html" %}
    </div>
    <div class="col-sm-6">
        {% include "templates/buoy.html" %}
        {% include "templates/bank.html" %}
    </div>
    <div class=" col-sm-3">
        {% include "templates/player2.html" %}
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading">Help</div>
            <div class="panel-body">
                <h4>This game is not finished yet.</h4>

                <p>Only player one can buy forts and ships by clicking on the spots for forts and ships. The spots without owner will all look clickable, even if
                    you cannot buy them due to position or resources.</p>
                <p>Buttons are enabled based on actions you are allowed to take.</p>
                <p>Requests are hard coded to players. Bit by bit stuff will be improved.</p>
            </div>
        </div>
    </div>
    <div class=" col-sm-6">
        {% include "templates/2pboard.html" %}
    </div>
    <div class="col-sm-3"></div>
</div>