<div id="bank" class="panel panel-warning">
    <div class="panel-heading">Bank</div>
    <div class="panel-body">
        <ul class="list-group horizontal-list">
            <li class="list-group-item wood">{{ bank.wood }}</li>
            <li class="list-group-item gold">{{ bank.gold }}</li>
            <li class="list-group-item pineapple">{{ bank.pineApple }}</li>
            <li class="list-group-item sheep">{{ bank.sheep }}</li>
            <li class="list-group-item sword">{{ bank.sword }}</li>
        </ul>
    </div>
</div>