<svg width="1024" height="768" viewBox="0 0 476 300" xmlns="http://www.w3.org/2000/svg">
    <!-- Define the hexagon shape once -->
    <defs>
        <polygon id="hex-shape" points="0,25 50,0 100,25 100,75 50,100 0,75"/>
    </defs>

    <!-- Group to contain the hexagons -->
    <g id="hex">
        <!-- First row of hexagons with correct positions -->
        <use href="#hex-shape" style="fill: gold;" transform="translate(0, 25)"/>
        <use href="#hex-shape" style="fill: silver;" transform="translate(125, 25)"/>
        <use href="#hex-shape" style="fill: saddlebrown;" transform="translate(250, 25)"/>

        <!-- Second row of hexagons with correct offset -->
        <use href="#hex-shape" style="fill: green;" transform="translate(63, 125)"/>
        <use href="#hex-shape" style="fill: orange;" transform="translate(188, 125)"/>
        <use href="#hex-shape" style="fill: steelblue;" transform="translate(313, 125)"/>

        <!-- Third row of hexagons with correct offset -->
        <use href="#hex-shape" style="fill: saddlebrown;" transform="translate(126, 225)"/>
        <use href="#hex-shape" style="fill: silver;" transform="translate(251, 225)"/>
        <use href="#hex-shape" style="fill: gold;" transform="translate(376, 225)"/>
    </g>
</svg>
