<div id="bouy" class="panel panel-warning">
    <div class="panel-heading">Buoys</div>
    <div class="panel-body">
        <ul class="list-group horizontal-list">
            <li class="list-group-item {{ buoys.buoy1 }}">1</li>
            <li class="list-group-item {{ buoys.buoy2 }}">1</li>
            <li class="list-group-item {{ buoys.buoy3 }}">1</li>
            <li class="list-group-item {{ buoys.buoy4 }}">1</li>
            <li class="list-group-item {{ buoys.buoy5 }}">1</li>
        </ul>
    </div>
</div>