<div id="bouy" class="panel panel-warning">
    <div class="panel-heading">Buoys</div>
    <div class="panel-body">
        <ul class="list-group horizontal-list">
            <li class="list-group-item wood">{{ buoy.wood }}</li>
            <li class="list-group-item gold">{{ buoy.gold }}</li>
            <li class="list-group-item pineapple">{{ buoy.pineApple }}</li>
            <li class="list-group-item sheep">{{ buoy.sheep }}</li>
            <li class="list-group-item sword">{{ buoy.sword }}</li>
        </ul>
    </div>
</div>