<div class="row">
    <div class="col-sm-3">
        {% include "templates/player1.html" %}
    </div>
    <div class="col-sm-6">
        {% include "templates/buoy.html" %}
    </div>
    <div class=" col-sm-3">
        {% include "templates/player2.html" %}
    </div>
</div>

<div class="row">
    <div class="col-sm-3"></div>
    <div class=" col-sm-6">
        {% include "templates/board.html" %}
    </div>
    <div class="col-sm-3"></div>
</div>

<div class="row">
    <div class=" col-sm-12">
        {% include "templates/bank.html" %}
    </div>
</div>