<div id="player2" class="panel panel-info">
    <div class="panel-heading">Player 2: {{ secondPlayer.username }}</div>
    <div class="panel-body">
        <div class="button-bar">
            <button class="btn btn-primary" id="endTurnBtnP2" hx-post="game/endTurnP2" hx-swap="none" {{
                    secondPlayer.actions.endTurn ?
            "" : "disabled" }}>End Turn</button>
            <button class="btn btn-primary" id="rollDiceBtnP2" hx-post="game/rollp2" hx-swap="none" {{
                    secondPlayer.actions.rollDice ?
            "" : "disabled" }}>Roll Dice</button>
        </div>
        <h4 class="list-group-heading">Inventory</h4>
        <ul class="list-group">
            <li class="list-group-item wood">{{ secondPlayer.inventory.wood }}</li>
            <li class="list-group-item gold">{{ secondPlayer.inventory.gold }}</li>
            <li class="list-group-item pineapple">{{ secondPlayer.inventory.pineApple }}</li>
            <li class="list-group-item sheep">{{ secondPlayer.inventory.sheep }}</li>
            <li class="list-group-item sword">{{ secondPlayer.inventory.sword }}</li>
        </ul>
    </div>
</div>