<div id="player1" class="panel panel-info">
    <div class="panel-heading">Player 1: {{ firstPlayer.username }}</div>
    <div class="panel-body">
        <div class="button-bar">
            <button class="btn btn-primary" id="endTurnBtnP1" hx-post="game/endTurnP1" hx-swap="none" {{
                    firstPlayer.actions.endTurn ?
            "" : "disabled" }}>End Turn</button>
            <button class="btn btn-primary" id="rollDiceBtnP1" hx-post="game/rollp1" hx-swap="none" {{
                    firstPlayer.actions.rollDice ?
            "" : "disabled" }}>Roll Dice</button>
        </div>
        <h4 class="list-group-heading">Inventory</h4>
        <ul class="list-group">
            <li class="list-group-item wood">{{ firstPlayer.inventory.wood }}</li>
            <li class="list-group-item gold">{{ firstPlayer.inventory.gold }}</li>
            <li class="list-group-item pineapple">{{ firstPlayer.inventory.pineApple }}</li>
            <li class="list-group-item sheep">{{ firstPlayer.inventory.sheep }}</li>
            <li class="list-group-item sword">{{ firstPlayer.inventory.sword }}</li>
        </ul>
    </div>
</div>
